main{
  margin-left: 250px;
  margin-right: 250px;
}
.studium{
  margin-left: 300px;
  margin-right: 300px;
  
}
.studiump{
  font-size: 125%;
}
.urovenangl{
  font-family: 'Times New Roman', Times, serif;
  font-size: 350%;
}
.onas{
  margin-top: 600px;
  margin-bottom: 50px;
}
.bodytest{
  background-image: url(../img/heroheader.png);
}

h1{
  font-size: 450%;

  margin-top: 50px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  text-align: center;
}
h2{
  text-align: center;
  color: black;
  font-size: 300%;
  font-family: 'Baloo Bhaijaan 2', cursive;
  
}
.jsmekl{
  text-align: left;
  color: black;
  font-size: 200%;
  font-family: 'Baloo Bhaijaan 2', cursive;
}
p{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 120%;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.hero-image {
  background-image: url("../img/heroheader.png");
  height: 125%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Baloo Bhaijaan 2', cursive;
  position: absolute;
  font-size: 450%;
  margin-left: 200px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
}
.popis{
  font-family: 'Baloo Bhaijaan 2', cursive;
margin-left: 0px !important;
padding-left: 0px !important;
margin-top: 10px !important;
font-size: 40% !important;
color: rgb(73, 71, 71);
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.topnav a{
  font-family: 'Times New Roman', Times, serif;
  

}
.mail{
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: left;
}
.button {
  border: none !important;
  color: white !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer !important;
  background-color: #8c18cf !important;
}
form{
  border: none !important;
  color: rgb(0, 0, 0) !important;
  padding: 14px 30px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer !important;
  
}

.popis{
  color: rgb(70, 68, 68);
  margin-left: 200px;
  margin-top: 175px;
  font-size: 100%;

}

  

html {
  scroll-behavior: smooth;
}
footer{
  
  padding: 50px;
  text-align: center;
  font-size: 100%;
  font-family: 'Baloo Bhaijaan 2', cursive;
  background-color: rgb(48, 48, 48);
  color: white;
  
}
.obrazekonas{
  height: 300px;
  width: 400px;
  float: right;
  margin-top: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  height: 450px;
  float: left;
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.obrazomne{
  width: 225px;
height: 225px;
float: right;
margin-right: 300px;

}
h4{
  font-size: 200%;
  text-align: center;
  color: rgb(130, 159, 252);
  margin-top: 10px;
  background-color: rgb(243, 241, 241);
}
h5{
  text-align: center;
  font-size: 125%;
  
}
.cena{
  margin-top: 12px;
  font-size: 300%;
}
.fajfka{
  width: 20px !important;
  height: 20px !important;
  margin: 5px !important;
float: left !important;
}
.hod{
  font-size: 35% !important;
  float: right;
}
.email{
  width: 120px;
  height: 60px;
}
.ikona{
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}
.mapa{
  width: 550px;
  height: 500px;
  margin-top: 20px ;
  
  float: right;
}
.onasbody{
  background-image: url(../img/2.png);
}
.adresa{
  margin-left: 90px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  color: rgb(9, 31, 104);
}
.zavreno{
  text-align: center;
}
td{
  padding: 15px;
}
table, td, tr{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 115%;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 90px;
  margin-bottom: 20px;
}
.adresakl{
  margin-left: 90px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
}
.iconamobilu{
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}
.iconaadresa{
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
  
}
.iconaadresy{
  width: 60px;
  height: 60px;
  float: left !important;
  margin: 10px;
  margin-bottom: 50px;
}
.tel{
  margin-left: 90px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
  
}
.kontakt{
  margin-left: 90px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  color: rgb(9, 31, 104);

}
.otevr{
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  color: rgb(9, 31, 104); 
  float: left; 
}
h3{
  font-size: 150%;
}
.fcc-btn {
  background-color: #8c18cf;
  color: rgb(247, 238, 238) !important;
  padding: 15px 25px;
  text-decoration: none;
}
.zjisti{
  background-color: #8c18cf;
  color: rgb(247, 238, 238) !important;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 25%;
}
.button2{
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0) !important;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 25%;
}
